.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}


/* Card */

.card {
    height: 350px;
    width: 300px;

    position: relative;

    transform-style: preserve-3d;

    transition: transform 0.8s ease;
}


/* Flip on hover */

.card:hover {
    transform: rotateY(180deg);
}


/* Front and Back */

.front,
.back {
    height: 100%;
    width: 100%;

    position: absolute;

    backface-visibility: hidden;

    border-radius: 15px;

    text-align: center;

    padding: 20px;
}


/* Front */

.front {
    background-color: lightcoral;
}

.front img {
    width: 100%;
    height: 180px;

    object-fit: cover;

    border-radius: 10px;
}

.front h2 {
    margin-top: 20px;
}


/* Back */

.back {
    background-color: lightblue;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    transform: rotateY(180deg);
}

.back h2 {
    margin-bottom: 20px;
}

.back p {
    line-height: 1.5;
}
