.container{
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    padding:20px;
}
.name{
    font-size: 30px;
    text-align: center;
}           
.navbar ul{
    display: flex;
    gap:30px;
    list-style: none;
}
.navbar li{
    font-size: 20px;
    
}
.navbar a{
    text-decoration: none;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;
    min-height:50vh;
}
@media (max-width: 700px) {
    main {
        flex-direction: column;
    }
}